.vscode
.pytest_cache
__pycache__
.VSCodeCounter
selenium_parser
test
test.py
logging_config.json
custom.py
decorator.py
exercise_1.py
exercise_2.py
OOP.py
venv
logs
.test.env
.env
latest.Session.json